*.interp
*.tokens
*Parser.py
*Lexer.py
*.pyc
*.swp
src/run.sh
.DS_Store
__pycache__
*.json
data/

# Virtual Env for python
venv/

# NPM dependencies
package-lock.json
package-electron.json
node_modules/

# WebStorm config file
.idea/

# unignored data
!visualize/golang/data/
!visualize/package.json
!visualize/tsconfig.json
# log
/log
