@import 'variable.module.scss';

.line_plot_div{
  margin-top: 20px;
  margin-bottom: 20px;
  //padding-top: 20px;
}

.basic_box{
  margin-top: 20px;
  margin-bottom: 20px;
}

.svg_div{
  margin-left: auto;
  margin-right: auto;
  //width: $width;
}

.prop_div {
  position: relative;
  //top: -300px;
}

.items-7 {
  margin-top: 1%
}