// changed from width 1200px to 800px because of application of electronjs
.main-container {
    //width: 800px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.sub-container {
    //width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.main-child {
    margin: 50px;
}

// for button
#non-outline {
    outline: none !important;
    box-shadow: none;
}